*{
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-sersif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*loader image*/
#loader{
    background: url(../img/loader.gif) no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
}
#whatsupLink a p{
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 80px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    z-index: 88888;
    background: #fff;
    border-radius: 4px;
    text-align: center;
}
#whatsupLink a img{
    width: 60px;
    position: fixed;
    z-index: 10000;
    left: 15px;
    bottom: 15px;
}
#enquiry-btn{
    position: fixed;
    z-index: 11111;
    right: -36px;
    top: 50%;
    transform: rotateZ(90deg);
}
#enquiry-btn .btn{
    background: #2d2424;
    color: #fff;
    padding: 7px 15px;
    font-size: 12px;
    border: 1px solid silver;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#enquiry-btn .btn:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
}
#gouparrow{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 10px;
    transform: rotate(-90deg);
    background: #2d2424;
    z-index: 66666;
}
#gouparrow a{
    color: #fff;
}
#gouparrow a:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
}
/******************header section*****************/
/*navigation*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
header .nav-left i{
  padding: 0 8px;
  font-size: 20px;
  animation: shake 1s ease-in-out;
  animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
 0% {
   -webkit-transform: none;
   transform: none;
 }

 15% {
   -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
   transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
 }

 30% {
   -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
   transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
 }

 45% {
   -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
   transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
 }

 60% {
   -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
   transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
 }

 75% {
   -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
 }

 100% {
   -webkit-transform: none;
   transform: none;
 }
}
header .nav-left{
    justify-content: center;
    display: flex;
    align-items: center;
}
header .nav-left p{
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: #444141;
}
header .nav-left a{
  text-decoration: none;
  color: #202020;
  padding: 10px;
}
header .nav-center{
  display: flex;
}
header .nav-center img{
  margin: auto;
  padding: 10px 0;
  width: 110px;
}
header .nav-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav-right a{
font-size: 18px;
text-transform: uppercase;
margin: 0;
font-weight: 600;
color: #444141;
}
header .nav-right a:hover{
  transform: rotate(45deg);
    transition: all 0.2s linear;
}
/*silder */
.carousel .carousel-inner .carousel-item .banner{
    height: 100%;
}
.carousel .carousel-inner .carousel-item
.carousel-caption{
    color: #202020;
    top: 30%;
}
.carousel .carousel-inner .carousel-item
.slider-text-3{
    color: #202020;
    top: 35%;
    width: 100%;
}
.carousel .carousel-inner .carousel-item
.slider-text-2{
    color: #202020;
    top: 20%;;
}
.carousel .carousel-inner .carousel-item
.carousel-caption h5{
    font-size: 45px;
    line-height: 45px;
}
.carousel .carousel-inner .carousel-item
.carousel-caption .text-2{
    font-size: 35px;
    line-height: 45px;
}

.carousel .carousel-inner .carousel-item
.carousel-caption img{
    width: 600px;
    margin: auto;
}
.carousel .carousel-inner .carousel-item
.carousel-caption .img-2{
    width: 100%;
    margin: auto;
}
.carousel .carousel-inner .carousel-item
.carousel-caption p{
    font-size: 18px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin: 21px 0;
    padding: 5px 0;
}
.carousel .carousel-inner .carousel-item
.carousel-caption button{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #362f2d;
    border-radius: 3px;
    padding: 0 35px;
    height: 50px;
    color: #ffffff;
    background-color: #362f2d;
    line-height: 50px;
    letter-spacing: 0.05em;
    transition: all 0.2s linear;
    outline: none;
}
.carousel .carousel-inner
.carousel-item .carousel-caption button:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
}
/******************header section end*****************/

/*******************main********************/
.heading-title {
    text-align: center;
    line-height: 10px;
    padding: 25px 26px;
    clear: both;
}
.heading-title h4{
    text-transform: capitalize;
    margin: 0;
    font-size: 25px;
    font-family: 'Belleza', sans-serif;
    display: block;
}
/*dropdown*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 13px 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #868686;
  color: white;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    text-transform: capitalize;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
/*dropdown*/

.collection{
    display: flex;
    justify-content: space-around;
    background: #2d2424;
    padding: 5px 0;
    position: sticky;
    top: 70px;
    z-index: 1111;
    padding: 0;
}
.collection .content{
    width: 33.33%;
    text-align: center;
}
.collection .content button{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 14px;
    transition: 0.3s;
}

.collection .content button:hover{
    background: #e8e8e8;
    color: #000;
}

.actives{
    background: #e8e8e8;
    color: #000;
}

.bottomsilde{
    position: fixed;
    z-index: 111111;
    background: #efecec;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow-y: hidden;
    transition: 0.6s;
}

.bottomsilde .btn{
    width: 100%;
    background: transparent;
    color: #000;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid silver;
    font-weight: 800;
    text-transform: capitalize;
    padding: 10px 0;
}

/*******************New Products***************/
.newProducts .content{
    width: 23%;
    float: left;
    text-align: center;
    border: 1px solid #ececec;
    margin: 8px 5px;
    background: #ffffff;
    transform: translateY(0px);
      color: #2d2424;
}
.newProduct .content {
  width: 31.33%;
  float: left;
  text-align: center;
  border: 1px solid #e6e6e6;
  margin: 8px 5px;
  background: #efeeee;
  transform: translateY(0px);
  color: #2d2424;
}
}
.newProduct .content:hover{
    transform: translateY(-1px);
    box-shadow: 1px 5px 30px 1px #ccc;
}
.newProducts .content:hover{
    transform: translateY(-5px);
    box-shadow: 1px 5px 30px 1px #ccc;
}

.newProduct{
  display: block;
}
.newProduct .content p{
  font-size: 16px;
  display: -webkit-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0px !important;
  width: 200px;
  margin: auto;
}

.newProduct .sub-text{
    clear: both;
}
.newProduct .sub-text p{
    margin: 0;
    padding-top: 25px;
    text-transform: capitalize;
    font-family: 'Belleza', sans-serif;
    display: block;
}
.newProduct .content .image,
.newProducts .content .image{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newProduct .content .image img,
.newProducts .content .image img{
    width: 140px;
}
.newProduct .content .image img:hover{
    width: 200px;
}
.newProduct .necklace-hover .image img:hover{
    width: 200px;
}
.newProduct .content .low-width-hover img:hover{
    width: 150px;
}
.newProduct .content button{
    text-transform: capitalize;
    background: #2d2424;
    border: 1px solid #2d2424;
    letter-spacing: 1px;
    margin: 10px auto;
    font-size: 12px;
}
.newProduct .content button:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
}

/*******************All Products**************/

main .collection-link{
    margin: 15px auto;
    position: sticky;
    top: 70px;
    z-index: 1000;
}
main .collection-link .bg-color{
    background: #4e4e4a;
}
main .collection-link .btns{
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    border-radius: 0px;
}
main .collection-link .btns a{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
}
main .collection-link .btns a:hover{
    background: #bdbab3;
    color: black;
}
main .headers{
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    clear: both;
    text-align: center;
}
main .headers .header-text{
    margin: 15px 0;
    background: #d8d8d8;
    font-size: 20px;
}
main .headers p{
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
main .new-product .text-deco{
    text-decoration: none;
    color: #202020;
}
main .new-product .hover-effect{
    transition:all 0.3s linear;
    height: 400px;
    transform: translateY(5px);
}
main .new-product .hover-effect:hover{
    transform: translateY(0px);
    -moz-box-shadow:    1px 1px 30px 1px #ccc;
    -webkit-box-shadow: 1px 1px 30px 1px #ccc;
    box-shadow:         1px 1px 30px 1px #ccc;
}
main .new-product .content{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*******************All Products end**************/
/*************Contact Us*************/

  footer .contact-us form{
    width: auto;
    height: 100%;
    margin: auto;
  }

 footer .contact-us form h5{
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 30px;
 }

  footer .contact-us form label{
    margin: 0;
  }
  footer .contact-us form input{
    width: 100%;
    padding: .375rem .75rem;
    outline: none;
    border: 1px solid silver;
    margin-bottom: 20px;
    color: black;
  }
  footer .contact-us form textarea{
    width: 100%;
    outline: none;
    border: 1px solid silver;
  }
  footer .contact-us form button{
    margin: 22px 0;
    padding: 11px 18px;
    border: 1px solid silver;
    outline: none;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.2s linear;
  }
   footer .contact-us form button:hover{
    background: #b3aaaa;
    color: #fff;
   }

/*End of Contact */

   footer .bottom-border {
    border-bottom: 1px solid silver;
   }
   footer .bg-dark .style h6{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
   }
    footer .bg-dark .style p{
    font-size: 15px;
    }
   footer .bg-dark .style a{
     text-decoration: none;
    color: #ff2222;
    letter-spacing: 2px;
   }
   footer .bg-dark .style{
    padding: 19px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 16px;
   }

   footer .bg-dark .img{
    display: flex;
   }

   footer .bg-dark .img img{
    width: 200px;
    margin: auto;
   }

   footer .footer img{
    width: 100px;
   }
   footer .footer span{
    font-size: 1rem;
    color: #fff;
   }

   footer .footer .center{
    display: flex;
    align-items: center;
   }
   footer .footer .pl p{
    padding-left: 25px;
    color: #727272;
   }
   footer .footer p{
    color: #727272;
   }

    footer .social{
    padding-left: 0;
   }
    footer .footer-icons{
    display: flex;
    justify-content: space-around;
    }
    footer .footer-icons i{
    background: #e85e5e;
    padding: 8px;
    color: #fff;
    border-radius: 50px;
    transition: all 0.6s linear;
     }
    footer .footer-icons i:hover{
      transform: rotateY(180deg);
     }

    .last-footer p{
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
    text-transform: capitalize;
    }

   /*************** Modal ************/
   #enquiry_now{
    z-index: 33333;
   }
   .modal .modal-body form{
    text-align: center;
   }
    .modal .modal-body{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    }
   .modal .modal-dialog .modal-content{
    width: auto;
    margin: auto;
   }
   .modal .modal-body form button{
    background: #362f2d;
    border: 1px solid #362f2d;
    text-transform: uppercase;
    color: #ffffff;
   }
   .modal .modal-body form button:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
    }
    /*************** Modal ************/

    /******************poppup onclick enquiry btn- modal*****************/


#enquiryModal {
    z-index: 111111;
}
.modal .modal-contents .modal-body .enquiry-form{
    margin: 0;
    text-align: left;
}

.modal .modal-contents .modal-body .enquiry-form input{
    width: 100%;
    padding: 5px;
    border: 1px solid silver;
    outline: none;
    font-size: 17px;
}
.modal .modal-body form p{
    font-size: 13px;
    margin: 0;
    text-transform: lowercase;
    font-weight: 600;
}
.modal .modal-contents .modal-body .enquiry-form select{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid silver;
    font-size: 17px;
}
.modal .modal-contents .modal-body .enquiry-form .from-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.modal .modal-contents
.modal-body .enquiry-form .from-btn button{
    background: #362f2d;
    border: 1px solid #362f2d;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 25px;
    outline: none;
    border: 1px solid silver;
}

.modal .modal-contents
.modal-body .enquiry-form .from-btn .btn:hover{
    color: #ffffff;
    border-color: #a07936;
    background: #a07936;
}
/******************poppup - modal*****************/

/*****************Products popup*********************/
#myModal{
  z-index: 22222;
}
.modal{
background-color: #0009;
z-index: 222222;
}

.modal .content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid silver;
    background: #efeeee;
    width: 500px;
    border-radius: 5px;
}
.modal .content .close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 5px 10px;
    transition: 0.3s linear;
}
.modal .content .close:hover{
background-color: #c7c7c7;
color:#dc0707;
opacity: 1;
}
.modal .content .modal-text{
  text-align: center;
}
.modal .content .content-modal .modal-img{;
  width: 400px;
  background: #333333;
}
.modal .content .modal-text p{
  margin: auto;
  background: #e8e8e8;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 350px;
}
  .modal .content .modal-text button{
  text-transform: capitalize;
  background: #2d2424;
  border: 1px solid #2d2424;
  letter-spacing: 1px;
  margin: 10px auto;
  font-size: 12px;
  }
  .modal .content img:hover{
    transform: scale(1.5);
    transition: 0.3s linear;
    cursor: crosshair;
  }
  .modal .content .content-modal{
    text-align: center;
    overflow: hidden;
    width: 400px;
    margin: auto;
  }
  .modal .content .close-modal{
    height: 45px;
  }
  .modal .content .modal-caption{
    margin: 0 50px;
  }
/*****************Products popup*********************/


/*// Extra small devices (portrait phones, less than 576px)
 Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
    header .header-nav{padding: 0;}
    header .header-nav .right-nav p {display: none;}
    header .navbar .collapse.show, header .navbar .collapse .navbar-nav .nav-link,
    header .navbar .collapse .navbar-nav .nav-link
     .dropdown-menu.dropdown-item{padding: 5px 3px;}
     header{padding: 0px 20px;}
     header .navbar .navbar-brand img{ width: 80px;}
     #whatsupLink a img{width: 45px;left: 4px;bottom: 8px;}
     #whatsupLink a p{display: none;}
     #enquiry-btn{top: 50%;right: -36px; display: block;}
     #enquiry-btn .btn{padding: 4px 9px;}
     header .header-nav .left-nav{display: none;}
     .newProduct .content{display: inline-block;width: 50%;float: left;margin: 0;height: 200px;}
     .newProduct .content .image{width: 100%;height: 150px;display: flex;justify-content: center;align-items: center;}
     .newProduct .content .image img{width: 140px;}
     .newProduct .content .text button{padding: 4px 5px;margin: 7px auto;text-transform: capitalize;background: #2d2424;border: 1px solid #2d2424;letter-spacing: 1px;font-size: 7px;}
     .newProduct .content .image img:hover{width: 150px;}
     .newProduct .mobile-view .image img{width: 115px;}
     .newProduct .mobile-view .image img:hover{width: 117px;}
     .newProducts .content{display: inline-block;width: 46%;float: left;margin: 5px 5px;}
     .newProducts .content .image{width: 100%;height: 130px;display: flex;justify-content: center;align-items: center;}
     .newProducts .content .image img{width: 90px;}
     .newProducts .content .text button{padding: 4px 5px;margin: 7px auto;text-transform: capitalize;background: #2d2424;border: 1px solid #2d2424;letter-spacing: 1px;font-size: 10px;}
     .newProducts .content .image img:hover{width: 90px;}
     .newProduct .content p{font-size: 12px;display: -webkit-box;vertical-align: middle;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp: 1;-webkit-box-orient: vertical;margin-bottom: 0px !important;width: 120px;margin: auto;}
     .collection .item .btns .btn{width: 50%;}
     .collection .content{width: 50%;}
     .collection { top: 0px;}
     .heading-title{line-height: 0;padding: 15px 26px; line-height: 0px;}
     .heading-title img{width: 100px;}
     .heading-title h4{font-size: 15px;}
     footer .contact-us form h5{padding-bottom: 10px; font-size: 24px;}
     .newProduct .sub-text p{font-size: 12px;}
     footer .contact-us form button{ margin: 15px 0;font-size: 12px;}
     footer .bg-dark .style{padding: 2px;}
      .last-footer p{text-align: center;padding: 4px;font-size: 1.1rem;text-transform: capitalize;font-size: 7px;margin: 0;padding: 10px 0;}
      #about-us .container{padding: 20px;}
      footer .bg-dark .style h6{font-size: 10px; font-weight: 600;}
      footer .bg-dark .style p{font-size: 12px;}
      footer .bg-dark .img img{display: none;}
      .modal .modal-contents .modal-body .enquiry-form .from-btn button{padding: 4px 10px;}
      .modal .modal-body{padding: 5px 17px;}
      .modal .modal-body form p{margin: 0;font-size: 11px;text-transform: lowercase;}
      .modal-header{padding: 0px 10px;padding-top: 5px;}
      header .nav-left p{display: none;}
      header .nav-right a{display: none;}
      header .nav-center img{padding: 3px 0;width: 70px;}
      .newProduct{padding: 0;}
      .modal .content .content-modal{width: 300px;}
      .modal .content .content-modal .modal-img{width: 300px;background: #f7f7f7;}
      .modal .content img:hover{transform: scale(1.6);}
      .modal .content .modal-text p{width: auto;}
      .modal .content{width: 97%;}
      .modal .content .modal-caption{display: none;}
      .footer-social{text-align-last: justify;width: 250px;margin: auto; padding: 3px 0;}
      .footer-social a{font-size: 18px;text-transform: uppercase;margin: 0;font-weight: 600;color: #c7c7c7;}
      .footer-social .followUs{text-align-last: center;margin: 4px 0;}
      .footer-social .followUs span{font-size: 15px;color: #fff;}
      .modal .modal-dialog .modal-content{top:30px;}
      main .headers p{font-size: 20px;}
}

/*// Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {
    header .header-nav{padding: 0;}
    header .header-nav .right-nav p {display: none;}
    header .navbar .collapse.show, header .navbar .collapse .navbar-nav .nav-link,
    header .navbar .collapse .navbar-nav .nav-link
     .dropdown-menu.dropdown-item{padding: 5px 3px;}
     header{padding: 0px 20px;}
     header .navbar .navbar-brand img{ width: 80px;}
     #whatsupLink a img{width: 45px;left: 4px;bottom: 8px;}
     #whatsupLink a p{display: none;}
     #enquiry-btn{top: 50%;right: -36px; display: block;}
     #enquiry-btn .btn{padding: 4px 9px;}
     header .header-nav .left-nav{display: none;}
     .newProduct .content{display: inline-block;width: 50%;float: left;margin: 0;height: 200px;}
     .newProduct .content .image{width: 100%;height: 150px;display: flex;justify-content: center;align-items: center;}
     .newProduct .content .image img{width: 140px;}
     .newProduct .content .text button{padding: 4px 5px;margin: 7px auto;text-transform: capitalize;background: #2d2424;border: 1px solid #2d2424;letter-spacing: 1px;font-size: 7px;}
     .newProduct .content .image img:hover{width: 145px;}
     .newProduct .mobile-view .image img{width: 115px;}
     .newProduct .mobile-view .image img:hover{width: 117px;}
     .newProducts .content{display: inline-block;width: 46%;float: left;margin: 5px 5px;}
     .newProducts .content .image{width: 100%;height: 130px;display: flex;justify-content: center;align-items: center;}
     .newProducts .content .image img{width: 90px;}
     .newProducts .content .text button{padding: 4px 5px;margin: 7px auto;text-transform: capitalize;background: #2d2424;border: 1px solid #2d2424;letter-spacing: 1px;font-size: 7px;}
     .newProducts .content .image img:hover{width: 90px;}
     .collection .item .btns .btn{width: 50%;}
     .collection .content{width: 50%;}
     .collection { top: 0px;}
     .heading-title{line-height: 0;padding: 15px 26px; line-height: 0px;}
     .heading-title img{width: 100px;}
     .heading-title h4{font-size: 15px;}
     footer .contact-us form h5{padding-bottom: 10px; font-size: 24px;}
     .newProduct .sub-text p{font-size: 12px;}
     footer .contact-us form button{ margin: 15px 0;font-size: 12px;}
     footer .bg-dark .style{padding: 2px;}
      .last-footer p{text-align: center;padding: 4px;font-size: 1.1rem;text-transform: capitalize;font-size: 12px;margin: 0;padding: 10px 0;}
      #about-us .container{padding: 10px 20px;}
      footer .bg-dark .style h6{font-size: 10px; font-weight: 600;}
      footer .bg-dark .style p{font-size: 12px;}
      footer .bg-dark .img img{display: none;}
      .modal .modal-contents .modal-body .enquiry-form .from-btn button{padding: 4px 10px;}
      .modal .modal-body{padding: 5px 17px;}
      .modal .modal-body form p{margin: 0;font-size: 11px;text-transform: lowercase;}
      .modal-header{padding: 0px 10px;padding-top: 5px;}
      header .nav-right a{display: none;}
      header .nav-left p{display: none;}
      header .nav-center img{padding: 3px 0;width: 80px;}

 }
 /*************************END*******************************/
